li{
    list-style-type: none;
    display: inline-block;
    margin: 1vw;
    margin-right: 2vw;
    color: white;
    padding: 1vw;
    border-radius: 10px;
}

li:hover{
    background-color:gray ;
}

ul{
    flex-direction: row;
    background-color:transparent;
    margin: 1vw 0
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: -15px
}

div img{
    width: 10vw;
}

main{
    padding: 1vw;
    margin: 1vw;    
}

section div{
    background-image: ;
    background-image: linear-gradient();
}